﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="WebApplication1.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <h3>Your WEB SITE is ready. oooooooooooooooooooooooo
        d;ldkldldmd;mkdms
    </h3>
    <p>Use this area to provide additional information.</p>
</asp:Content>
